<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Stachiotti,Caamaño y Lamalfa">
    <title>Proyectos de Producción</title>
    <link rel="stylesheet" href="/css/cls.css">  
 {{!--     <link rel="stylesheet" href="/css/Registro.css">  --}}
{{!--     <link rel="stylesheet" href="/css/styles.css">   --}}
</head>
<body>
   <header class="header">
       <div class="container">
           <div class="logo">
               <h1>DESAFIO ODS</h1>
           </div>
  
           <nav class="menu">
               <ul>
                   <li><a href="/" >Inicio </a></li>
                   <li><a href="#">Cuenta <i class="icon-abajo2"></i></a>
                   <ul class="submenu">
                       <li><a href="login">
                        Inicio sesion   
                       </a></li>
                       <li><a href="registro">
                        Registro
                       </a></li>
                       
                </ul>
                  
               </ul>
           </nav>
  
       </div>

   </header>

    <div class="portada">
    </div>

</body>
</html>
