<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Menu de Administrador</title>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
       <link rel="stylesheet" href="/css/Registro.css">   
   
  		
    </head>
<body>
  <div class="registro-form">
      <h2>Menu de Administrador</h2>
     
      <div>
      <a href="/altaPregunta" class="btn-registro">Alta de Pregunta</a>
      </div>
      <div>
    <a href="/bajaPregunta" class="btn-registro">Baja de Pregunta</a>
      </div>
       <div>
      <a href="/editarPregunta" class="btn-registro">Editar Pregunta</a>
      </div>
    <div>
      <a href="/" class="btn-cancelar">Salir</a>
      </div>
    </div>

</body>


</html>       

