<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Registro</title>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
       <link rel="stylesheet" href="/css/Registro.css">   
   
  <!--      <link rel="stylesheet" href= "/public/css/Registro.css" > 
        <link rel="stylesheet" href= "/public/css/cls.css" >  
      <link rel="stylesheet" href= "/public/css/styles.css" > -->
		
    </head>
<body>
  <div class="registro-form">
      <h2>Registro de Usuario</h2>
      <form action="/regi" method="POST" class="container-sm">    
        <input type="text" class="form-control" id="DNI" name="dni" value="" placeholder="DNI">
        <input type="text" class="form-control" id="nombre" name="nombre" value="" placeholder="Nombre">
        <input type="text" class="form-control" id="usuario" name="usuario" value="" placeholder="Usuario">
        <input type="password" class="form-control" id="contraseña" name="pass" value="" placeholder="Contraseña">
        <button  class="btn-registro" type="submit">Registro </button>  
       </form>
       <form action="/" method="GET" class="container-sm">
        
             <input type="submit" class="btn-cancelar" value="Cancelar">
        
     </form>
    </div>

</body>
</html>       

<!--

<form action="/regi" method="POST" class="container-sm">
    <div class="mb-3 form-group">
        <h2>Registro de Usuario</h2>
    </div>
    <div class="mb-3 form-group">
        <label for="usuarioDNI" class="form-label">DNI</label>
        <input type="text" class="form-control" id="DNI" name="dni" value="" placeholder="Ingrese DNI">
    </div>
    <div class="mb-3 form-group">
        <label for="usuarioNOMBRE" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" value="" placeholder="Ingrese nombre completo">
    </div>
    <div class="mb-3 form-group">
        <label for="usuarioUSUARIO" class="form-label">Usuario</label>
        <input type="text" class="form-control" id="usuario" name="usuario" value="" placeholder="Ingrese usuario">
    </div>

    <div class="mb-3 form-group">
        <label for="usuarioCONTRASEÑA" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="contraseña" name="pass" value="" placeholder="Ingrese la contraseña">
    </div>
    <div class="mb-3 form-check">
  
         <button  class="w-100 btn btn-lg btn-primary" type="submit">Registro </button>  
    </div>
</form>  
<form action="/" method="GET" class="container-sm">
  <div class="mb-3 form-check">
        <input type="submit" class="btn btn-primary" value="Cancelar">
    </div>
</form>
-->
