<!DOCTYPE html>
<html lang="en">
    <head>
        <title>juego</title>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
       <link rel="stylesheet" href="/css/Juego.css">   
  	
  <script>
      function myFunction(numero) {

       if (numero == "respuesta") {

         alert("Respuesta Correcta!!!")
       }else{
         alert("Respuesta Incorrecta!!!")
        cargarPregunta('1');
       }
      
      }
    </script>

<script>
  let INDEX_PREGUNTA = 0;
  let CANT = 0;
  let PUNTOS = 0;
  cargarPregunta(INDEX_PREGUNTA)
</script>


<script>
baseDePreguntas = [
{
    pregunta : "¿Cuál de las siguientes afirmaciones describe mejor el propósito principal de los ODS?",
    imagen : "/img/objetivos.jpg",
    respuesta : "Promover la paz y la seguridad internacional. " ,
     incorrecta1 : "Reducir la desigualdad económica." ,
     incorrecta2 : "Fomentar la colaboración entre países desarrollados." ,
     incorrecta3 : "Lograr un desarrollo sostenible a nivel global." ,
    },    

    {
        pregunta : "¿Cuál de las siguientes opciones representa un desafío clave en la implementación de los ODS?",
        imagen : "/img/mundo.jpg",
        respuesta : "Falta de conciencia pública sobre los problemas globales. " ,
         incorrecta1 : "Escasez de fondos internacionales." ,
         incorrecta2 : "Cumplimiento insuficiente de los compromisos gubernamentales." ,
         incorrecta3 : "Limitada participación de las empresas en la agenda de desarrollo sostenible." ,
        },    
        {
            pregunta : "¿Cuál de los siguientes impactos están relacionados directamente con los ODS?",
            imagen : "/img/escalera.jpg",
            respuesta : "¿Cuál de los siguientes impactos están relacionados directamente con los ODS? " ,
             incorrecta1 : "Aumento de la producción de bienes de lujo." ,
             incorrecta2 : "Reducción de la emisión de gases de efecto invernadero." ,
             incorrecta3 : "Mayor competencia económica entre naciones." ,
            },    
   
            {
                pregunta : "¿Qué rol desempeñan los gobiernos nacionales en la implementación de los ODS?",
                imagen : "/img/objetivos2.jpg",
                respuesta : "Financiar proyectos de desarrollo en países de bajos ingresos." ,
                 incorrecta1 : "Establecer políticas y regulaciones para promover los ODS a nivel nacional." ,
                 incorrecta2 : "Coordinar la ayuda humanitaria en situaciones de crisis." ,
                 incorrecta3 : "Proporcionar educación sobre los ODS en las escuelas." ,
                },    


                {
                    pregunta : "¿Cuál de los siguientes impactos están relacionados directamente con los ODS?",
                    imagen : "/img/objetivos.jpg",
                    respuesta : "¿Cuál de los siguientes impactos están relacionados directamente con los ODS? " ,
                     incorrecta1 : "Aumento de la producción de bienes de lujo." ,
                     incorrecta2 : "Reducción de la emisión de gases de efecto invernadero." ,
                     incorrecta3 : "Mayor competencia económica entre naciones." ,
                    },    

];

</script>

<script>
        
    function cargarPregunta(index) {

      objetoPregunta = baseDePreguntas[index];

    /*    opciones = [...objetoPregunta.distractores];
        opciones.push(objetoPregunta.respuesta);
      for (let i = 0; i < 4; i++) {
         opciones.sort(() => Math.random() - 0.5);
      }

      document.getElementById("pregunta").innerHTML = objetoPregunta.pregunta;
      if (objetoPregunta.imagen) {
        document.getElementById("imagen").src = objetoPregunta.imagen;
        document.getElementById("imagen").style.display = "";
      } else {
        document.getElementById("imagen").style.display = "none";
      }

      if (objetoPregunta.ayuda) {
          document.getElementById("ayuda").style.display = "";
      } else {
         document.getElementById("ayuda").style.display = "none";
      }

      document.getElementById("opcion-1").innerHTML = opciones[0];
      document.getElementById("opcion-2").innerHTML = opciones[1];
      document.getElementById("opcion-3").innerHTML = opciones[2];
      */
      

      document.getElementById("imagen").src = objetoPregunta.imagen;
      document.getElementById("imagen").style.display = "";

      document.getElementById("pregunta").innerHTML = objetoPregunta.pregunta;
      document.getElementById("opcion-1").innerHTML = objetoPregunta.incorrecta1
      document.getElementById("opcion-2").innerHTML = objetoPregunta.incorrecta2
      document.getElementById("opcion-3").innerHTML = objetoPregunta.incorrecta3
      document.getElementById("opcion-4").innerHTML = objetoPregunta.respuesta
}

    </script>

<script>
/*
  async function seleccionarOpcion(index) {
    
     if (index == "2") {

         alert("Respuesta Correcta!!!")
         cargarPregunta(INDEX_PREGUNTA);
         INDEX_PREGUNTA++;
         CANT++
       }else{
         alert("Respuesta Incorrecta!!!")
        cargarPregunta(INDEX_PREGUNTA);
        INDEX_PREGUNTA++;
        CANT++
       }
*/
     /*
5  let validezRespuesta = opciones[index] == objetoPregunta.respuesta;
  if (validezRespuesta) {
    await Swal.fire({
      title: "Respuesta correcta",
      text: "La respuesta ha sido correcta",
      icon: "success",
    });
    puntaje++;
  } else {
    await Swal.fire({
      title: "Respuesta Incorrecta",
      html: `La respuesta correcta es ${objetoPregunta.respuesta}`,
      icon: "error",
    });
  }
  INDEX_PREGUNTA++;
  if (INDEX_PREGUNTA >= baseDePreguntas.length) {
    await Swal.fire({
      title: "Juego términado",
      text: `Tu puntaje fue de: ${puntaje}/${baseDePreguntas.length}`,
    });
    INDEX_PREGUNTA = 0;
    puntaje = 0;
  }
  cargarPregunta(INDEX_PREGUNTA);
  */
}

</script>

</head>

<body>

<script>
  if INDEX_PREGUNTA == 0{
   cargarPregunta('1');
  }
</script>


<div class="box01">
  <div class="box02" >
    <img id ="imagen"  width="700px" height="800px" />
  </div>
  <div class="box03">
    <div class="registro-form" >
      <h2> "EL juego de preguntas le presentara cuadro opciones y podra seleccionar solo una, avanzando a la siguiente pregunta.  </h2>
      <h2> Transcurridads las 5 preguntas podra ver el resultado obtenido.</h2>
       <br>

<!--  <button onclick="myFunction('inco1')">{{inco1}}</button>
      <button onclick="myFunction('respuesta')">{{respuesta}}</button> -->
      <div>
        
      <button onclick="juego"> Comenzar </button>
      </div>
      

    </div>
  </div>
</div>


</body>
</html>       

