
<!DOCTYPE html>
<html lang="es">
  <head>
     <meta charset="UTF-8">
     <meta name="author" content="Stachiotti,Caamaño y Lamalfa">
     <title>Proyectos de Producción</title>
     <link rel="stylesheet" href="/css/cls.css">
  </head>
    <body>
      <!--
      <link rel="stylesheet" href="/public/css/cls.css">
        <header class="header">
         <div class="container">
           <div class="logo">
               <h1>DESAFIOOOO ODS</h1>
           </div>
           --> 
           <header>        
            <!--  
           <nav class="menu">
               <ul>
                   <li><a href="/">Inicio</a></li>
                   <li><a href="#">Cuenta <i class="icon-abajo2"></i></a>
                   <ul class="submenu">
                       <li><a href="registro">
                           Registro
                       </a></li>
                       <li><a href="login">
                          Inicio sesion
                       </a></li>
                       
                   </ul>
                  
               </ul>
           </nav>
           -->
           </header> 
    </body>
</html>
            

           <!--
         </div>
        </header>
        -->
   <!-- Portada   --->
   <!--
    <div class="portada">
    </div>
    </body>
</html>
-->